.flex-casestudy {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 80px 40px;
  overflow: hidden;
}

.casestudy-header,
.casestudy-pic,
.casestudy-overview,
.casestudy-tools,
.casestudy-process {
  width: 100%;
  text-align: center;
}

.casestudy-header {
  height: 300px;
  background-color: #f6f6f6;
}

.casestudy-pic {
  height: 300px;
  background-color: #eaeaea;
}

.casestudy-overview {
  height: 300px;
  background-color: #d4d4d4;
}

.casestudy-tools {
  height: 300px;
  background-color: #c0c0c0;
}

.casestudy-process {
  height: 300px;
  background-color: #a6a6a6;
}
