.flex-casestudy {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 80px 40px;
  overflow: hidden;
  gap: 40px;
}

.casestudy-header,
.casestudy-pic,
.casestudy-overview,
.casestudy-tools,
.casestudy-process {
  width: 100%;
  text-align: center;
  padding: 20px;
  
  p {
    padding-bottom: 16px;
    font-size: 16px;
  }
}

.casestudy-header {
  height: auto;
  background-color: $isabelline;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.casestudy-pic {
  height: auto;
  background-color: $isabelline;
  flex-direction: column;
  justify-content: center;

  img {
    width: 600px;
    height: auto;
  }
}

.casestudy-overview {
  height: auto;
  background-color: $isabelline;
  flex-direction: column;
  justify-content: center;

  img {
    width: auto;
    height: 800px;
  }
}

.casestudy-tools {
  height: auto;
  background-color: $isabelline;
  flex-direction: column;
  justify-content: center;

  img {
    width: auto;
    height: 800px;
  }
}

.casestudy-process {
  height: 300px;
  // background-color: #a6a6a6;
}
