/* SCSS HEX */
$silver: #aaababff;
$isabelline: #f4f2f0ff;
$hover-orange: #010554;
$print-yellow: #f3de2c;
$design-blue: #59c3c3;
$dev-purple: #7f7eff;
$photo-orange: #f96e46;

// @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,600&display=swap");
