@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,600&display=swap");
@media only screen and (max-width: 768px) {
  .flex-nav nav ul li {
    padding: 0 10px;
    font-size: 10px;
  }
  .flex-container {
    flex-direction: column;
    text-align: center;
  }
  .flex-container-skills {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    height: 100vh;
  }
  .casestudy-pic img, .casestudy-overview img, .casestudy-tools img {
    width: 50px;
    height: auto;
  }
}
/* SCSS HEX */
.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
/* Add a dark background to the active button */
.btn.active {
  font-weight: 600;
  font-style: italic;
}

.f-all {
  font-size: 10px;
  margin-top: 40px;
  text-align: center;
}

.flex-about {
  display: flex;
  flex-direction: column;
}
.flex-about a {
  font-size: 14px;
}
.flex-about a:hover {
  font-weight: 600;
  color: #010554;
  font-style: italic;
  border-bottom: #010554 1.5px solid;
}
.flex-about ul {
  list-style: none;
}

.flex-casestudy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 80px 40px;
  overflow: hidden;
  gap: 40px;
}

.casestudy-header,
.casestudy-pic,
.casestudy-overview,
.casestudy-tools,
.casestudy-process {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.casestudy-header p,
.casestudy-pic p,
.casestudy-overview p,
.casestudy-tools p,
.casestudy-process p {
  padding-bottom: 16px;
  font-size: 16px;
}

.casestudy-header {
  height: auto;
  background-color: #f4f2f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.casestudy-pic {
  height: auto;
  background-color: #f4f2f0;
  flex-direction: column;
  justify-content: center;
}
.casestudy-pic img {
  width: 600px;
  height: auto;
}

.casestudy-overview {
  height: auto;
  background-color: #f4f2f0;
  flex-direction: column;
  justify-content: center;
}
.casestudy-overview img {
  width: auto;
  height: 800px;
}

.casestudy-tools {
  height: auto;
  background-color: #f4f2f0;
  flex-direction: column;
  justify-content: center;
}
.casestudy-tools img {
  width: auto;
  height: 800px;
}

.casestudy-process {
  height: 300px;
}

@media only screen and (max-width: 768px) {
  .casestudy-pic p, .casestudy-overview p, .casestudy-tools p, .casestudy-header p {
    font-size: 12px;
  }
  .casestudy-pic img, .casestudy-overview img, .casestudy-tools img, .casestudy-header img {
    width: 350px;
    height: auto;
  }
}
.flex-container-skills {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 50vh;
  margin: 40px 40px;
}
.flex-container-skills .flex-skills {
  align-items: center;
  border: 1px thin white;
  margin-right: 10px;
  align-items: flex-start;
}
.flex-container-skills .flex-skills.front {
  background-color: #7f7eff;
  color: #fff;
}
.flex-container-skills .flex-skills.back {
  background-color: #f96e46;
  color: #fff;
}
.flex-container-skills .flex-skills.design {
  background-color: #59c3c3;
  color: #fff;
}
.flex-container-skills .flex-skills.misc {
  background-color: #f3de2c;
  color: #fff;
}
.flex-container-skills .flex-skills .skill-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  padding: 10px 30px;
  margin-bottom: 1px;
  border-bottom: 1px thin white;
  font-size: 11px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .flex-container-skills {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    flex-direction: row;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #fff;
}
body a {
  text-decoration: none;
}
body .flex-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 40px 0;
}
body .flex-nav #logo {
  margin-right: auto;
  font-size: 20px;
}
body .flex-nav li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
  color: #aaabab;
}
body .flex-nav a:hover {
  font-weight: 600;
  color: #010554;
  font-style: italic;
  border-bottom: #010554 1.5px solid;
}
body .flex-nav .current {
  font-style: italic;
  font-weight: 600;
  border-bottom: #010554 1.5px solid;
}
body .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 0 40px;
  overflow: hidden;
}
body .flex-container h4 {
  color: #aaabab;
  font-weight: 400;
}
body .flex-container h4 .purple {
  color: #7f7eff;
}
body .flex-container h4 .blue {
  color: #59c3c3;
}
body .flex-container h4 .yellow {
  color: #f3de2c;
}
body .flex-container h4 .orange {
  color: #f96e46;
}
body .flex-container h4 .purple:hover,
body .flex-container h4 .blue:hover,
body .flex-container h4 .yellow:hover,
body .flex-container h4 .orange:hover {
  font-weight: 600;
  font-style: italic;
}
body .flex-container h4 .purple:hover {
  border-bottom: #7f7eff 1.5px solid;
}
body .flex-container h4 .blue:hover {
  border-bottom: #59c3c3 1.5px solid;
}
body .flex-container h4 .yellow:hover {
  border-bottom: #f3de2c 1.5px solid;
}
body .flex-container h4 .orange:hover {
  border-bottom: #f96e46 1.5px solid;
}
body .flex-container-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 0 20px;
}
body .flex-container-portfolio .flex-item {
  height: auto;
  width: 300px;
  background-color: #f4f2f0;
  margin: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}
body .flex-container-portfolio .dev:hover {
  border: 1.5px #7f7eff solid;
}
body .flex-container-portfolio .design:hover {
  border: 1.5px #59c3c3 solid;
}
body .flex-container-portfolio img {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 20px auto 20px;
}
body .flex-container-portfolio .flex-container-portfolio-text {
  display: flex;
  flex-direction: column;
}
body .flex-container-portfolio .flex-container-portfolio-text h4,
body .flex-container-portfolio .flex-container-portfolio-text p {
  font-size: 13px;
  color: #909292;
}
body .flex-container-footer {
  display: flex;
  margin: 30px 40px 30px;
  justify-content: center;
  font-size: 10px;
}
body .flex-container-footer a:hover {
  font-weight: 600;
  font-style: italic;
  color: #010554;
  border-bottom: #010554 1.5px solid;
}/*# sourceMappingURL=main.css.map */